body {
   background-color: #28282D;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

* {
   margin: 0px;
   border: 0px;
}

.main {
   width: 350px;
   height: 240px;
   background-color: #504E5F;
   border-radius: 27px;
}

.zagolovok {
   margin-top: 65px;
   margin-bottom: 35px;
   color: white;
   font-size: 40px;
   text-align: center;
   font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.inputs {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.input{
   width: 247px;
   height: 23px;
   border-radius: 3px;
   background: #D6D6D6;
   margin-top: 10px;
}

.buttons {
   margin-left: 45px;
}

.button {
   width: 126px;
   height: 32px;
   border-radius: 16px;
   margin-top: 10px;
   margin-right: 8px;
}

.button-p {
   color: #000;
   font-family: Inter;
   font-size: 24px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   text-align: center;
}

.plus {
   background: #00A857;
}

.minus {
   background: #C40000;
}

.results {
   width: 200px;
   height: 71px;
   border-radius: 7px;
   background: #fff;
   margin-left: 75px;
   margin-top: 10px;
   border: 2px dashed #000;
}

.result {
   color: #000;
   font-family: Inter;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   margin-top: 5px;
   margin-left: 59px;
}

.vich {
   width: 247px;
   height: 23px;
   border-radius: 3px;
   background: #2d2a44;
   margin-top: 10px;
   margin-left: 52px;
}

.button-txt {
   color: #fff;
   font-family: Inter;
   font-size: 16px;
   font-style: normal;
   font-weight: 300;
   line-height: normal;
   text-align: center;
   
}

.block-txt {
   width: 95px;
   height: 31px;
   border-radius: 4px;
   margin-top: 7px;
   margin-left: 49px;
   text-align: center;
}